# Node
node_modules/
dist/
build/
.next/
coverage/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local
!.env.example

# MikroORM
migrations/.snapshot-*

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Docker local volume data
data/

# Temp docs
reference/
